---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="404 | Revista"
  description="Page not found"
>
  <section class="error-page-wrapper">
    <section class="error-page">
      <div class="page-center">
        <span>404</span>
        <h3>Oops, you broke us!</h3>
        <h3>The page you tried cannot be found.</h3>
        <a href="/" class="btn btn-outline-primary btn-404">
          back home
        </a>
      </div>
    </section>
  </section>
</BaseLayout>

<style>
  .error-page-wrapper .error-page {
    background: white;
  }
  
  .error-page-wrapper .error-page span {
    font-size: 10rem;
    color: var(--black);
  }
  
  .error-page-wrapper .error-page h3 {
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  .error-page-wrapper .btn-404 {
    font-size: 150%;
  }
</style>
