---
import slugify from 'slugify';
import { getAllPosts } from '../utils/getPosts';

const posts = await getAllPosts();
const categories = [...new Set(posts.map(post => post.data.category))];
---

<ul class="categories">
  {categories.map((category) => (
    <li key={category}>
      <a
        href={`/${slugify(category).toLowerCase()}`}
        class="category"
      >
        {category}
      </a>
    </li>
  ))}
</ul>
