---
import About from './About.astro';
import Partners from './Partners.astro';
import SidebarCategories from './SidebarCategories.astro';
import '../../css/components/sidebar/_sidebar.scss';
---

<div class="col-xl-3 col-12">
  <aside class="sidebar-styles">
    <About />
    <Partners />
    <SidebarCategories />
  </aside>
</div>
