---
import CategoriesDistinct from '../CategoriesDistinct.astro';
import Title from './Title.astro';
import SidebarCard from './SidebarCard.astro';
import '../../css/components/sidebar/_sidebar-categories.scss';
---

<SidebarCard>
  <div class="sidebar-categories-wrapper">
    <Title title="categories" />
    <CategoriesDistinct />
  </div>
</SidebarCard>
